body{
    margin:0 0;
    padding: 0;
    font-size: calc(.5em + .8vw);
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
    min-width: 320px;
}

.smallFont{
    font-size: calc(.1em + .8vw);
}

.bigfont{
    font-size: calc(4em + 3vw);
}

.middlefont{
    font-size: calc(2em + 1vw);
}

a{
    text-decoration: none;
    color: black
}
ul li{
    list-style: none;
    margin-bottom:20px;
}
button{
    border-radius: 15px;
    background-color: white;
    color:rgb(186 183 193);
    padding:10px 40px;
    border: none;
    font-size: calc(.5em + .8vw);
}

.header{
    background-color: white;
    /* height:50px; */
    position: sticky;
    top: 0;
    padding: 10px;
    border-radius: 0 0 137px 137px / 0 0 137px 137px;
    z-index:999;
    box-shadow: 0px 2px 2px #bfb6b6;
}

.header .nav{
    display: flex;
    justify-content: space-between;
    padding:0 50px;
    vertical-align: middle;
    font-size: calc(.5em + .5vw);
    text-wrap: nowrap;
    gap:5px;
    
}
.header .nav .logo{
    display: flex;
    vertical-align: middle;
    gap:12px;
    line-height: 20px;
}
.header .nav .logo img{
    width: 40px;
    height: 40px;
}

.header .nav .menu{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    gap: 15px;
    width: 100%;
    justify-content: space-around;
    line-height: 40px;
}

.header .nav .menu a:hover{
    font-weight: 300;
}
#hamburger-menu {
    width: 20px;
    height: 20px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    background: linear-gradient(
      to bottom, 
      #666666, #666666 20%, 
      white 20%, white 40%, 
      #666666 40%, #666666 60%, 
      white 60%, white 80%, 
      #666666 80%, #666666 100%
    );
}

#hamburger-menu #sidebar-menu {
    /* visibility: hidden;
    position: absolute;
    top: -250px;
    background-color: #ffffff;
    padding: 0px 10px;
    box-sizing: border-box;
    transition: 0.3s;
    width: 100vw;
    left: 0px; */
    /* display: none; */
    visibility: hidden;
    background-color: #ffffff;
    width: 100vw;
    left: 0;
    position: fixed;
    top: -200px;
    transition: 0.3s;
    z-index: -3;

}
#hamburger-input{
    opacity: 0;

}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    top: 50px;
    box-shadow: 0px 2px 2px #bfb6b6;
    border-radius: 0 0 137px 137px / 0 0 32px 32px;
}
#hamburger-input:checked ~ body > .header{
    border-radius:0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}
.header .nav .address{
    text-wrap:wrap;
}

@media (min-width:800px){
    #hamburger-menu,hamburger-input{
        display: none;

    }
}
@media (min-width: 0px) and (max-width:800px){
    .header .nav > .menu,.header .nav > .address, .header .nav > .shedule {
        display: none;
    }
    .header .nav {
        justify-content: center;
    }
    .header{
        border-radius: 0;
    }

}